@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: var(--scroll-bar-bg-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scroll-bar-color);
        border-radius: 20px;
        border: 3px solid var(--scroll-bar-bg-color);
    }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px;
  font-size: 1.2em;
}


.container {
  position: relative;
}

.register {
  position: fixed;
  padding: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  top: 35%;
  left: 32%;
  display: flex;
  flex-direction: row;
}

.chat-box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 40px 50px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.member-list {
  width: 20%;
}

.chat-content {
  width: 80%;
  margin-left: 10px;
}

.chat-messages {
  height: 80%;
  border: 1px solid #000;
}

.send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-message {
  width: 90%;
  border-radius: 50px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.send-button {
  width: 10%;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
}

.member {
  padding: 10px;
  background: #eee;
  border: #000;
  cursor: pointer;
  margin: 5px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
}

.member.active {
  background: blueviolet;
  color: #fff;
}

.member:hover {
  background: grey;
  color: #fff;
}

.avatar {
  background-color: cornflowerblue;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}

.avatar.self {
  color: #000;
  background-color: greenyellow;
}

.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
}

.message-data {
  padding: 5px;
}

.message.self {
  justify-content: end;
}


/* css modif */
.scrollable::-webkit-scrollbar {
  width: 3px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.divImgAdd {
  width: 1, 358.4px;
  height: 318px;
  gap: 6px;
  margin: 10px 0px;
  background-position-y: center;
  border-radius: 24px;
  opacity: 0px;
  background-image: url('../src/images/imageAdd.jpeg');


}

.divImA {
  background: linear-gradient(96.26deg, rgba(0, 0, 0, 0.4) 0.03%, rgba(0, 0, 0, 0) 54.95%);
  width: 100%;
  height: 100%;
  padding: 55px;
  border-radius: 24px;

}

.divTitAdd {
  height: 133px;
  gap: 3px;
  opacity: 0px;
}

.titAdd {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  text-align: left;
  color: #ffffff;

}

.parAdd {
  width: 722px;
  height: 72px;
  gap: 0px;
  opacity: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 35.98px;
  text-align: left;
  color: #ffffff;

}

.divbtnAdd {
  width: 191px;
  height: 52px;
  padding: 4px 13px 4px 13px;
  gap: 2px;
  border-radius: 12px;
  opacity: 0px;
  display: flex;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;

}

.btnAdd {
  width: 63px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
}

.divNombTot {
  display: flex;
  gap: 20px;
}

.divNombTot p {
  font-size: 20px;
  color: #0096BB;
}

.div-detail-form {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

/* css certificat */

.div-cert-pers {
  background: #fff;
  display: flex;
  position: relative;
  padding: 20px;
}
.div-cert-btn {
  display: flex;
  right: 20px;
  /* height: 70%; */
  position: absolute;
  align-items: center;
  /* background-color: red; */
}
.btn-anul,
.btn-enr {
  background-color: #f5f5f5;
  width: 150px;
  height: 44px;
  font-size: 16px;
  border: none;
  color: #333;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-enr {
  color: #fff;
  background: #0096bb;
}
.h2-per {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
}
.pers-apercu,
.pers-ph {
  width: 50%;
  padding: 10px;
}
.div-inp-cert {
  width: 100%;
  margin-top: 10px;
}
.btn-span,
.btn-span2,
.btn-span3,
.btn-span4,
.btn-span5,
.btn-span6,
.btn-span7,
.btn-span8,
.btn-span9,
.btn-span10,
.btn-span11,
.btn-span12,
.btn-span13 {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #e5e7eb;
}
.btn-span2,
.btn-span3,
.btn-span4,
.btn-span6,
.btn-span7,
.btn-span8,
.btn-span9,
.btn-span10,
.btn-span12,
.btn-span13 {
  margin-left: 5px;
}
.btn-span2 {
  background-color: #f6f6f6;
}
.btn-span3 {
  background-color: #082a4d;
}
.btn-span4 {
  background-color: #020f13;
}
.btn-span5 {
  background-color: #f39530;
}
.btn-span6 {
  background-color: #0096bb;
}
.btn-span7 {
  background-color: #97e4ff;
}
.btn-span8 {
  background-color: #027f3b;
}
.btn-span9 {
  background-color: #16b853;
}
.btn-span10 {
  background-color: #fe3032;
}
.btn-span11 {
  background-color: #8630F3;
}
.btn-span12 {
  background-color: #B67546;
}
.btn-span13 {
  background-color: #92AF8D;
}
.btn-cert-col {
  border: none;
  padding: 0;
  background-color: transparent;
}
.div-spn-nam{
  /* background-color: grey; */
  margin-top: 15px;
}
/* navbar */
.group:hover{
  background-color: #2a3d58;
}
/* ConfigPage */
.inp-color {
  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

.div-appercu {
  margin-bottom: 6px;
  font-weight: 700;
}
.div-file {
  /* background-color: red; */
  position: relative;
}
.div-inp-file {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: aqua;
  top: 0;
  opacity: 0;
}
.inpt-file{
  width: 100%;
  height: 100%;
}
.div-icn-file{
  text-align: center;
}
.appercu-page{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}


/* coursapprenant */
.head-app {
  padding: 30px 30px;
}
.head-home-app {
  text-align: center;
}
.div-list-app {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.div-app {
  border: 1px solid #ccc;
  width: 280px;
  padding: 30px;
  border-radius: 16px;
  border: 1px 0px 0px 0px;
  background-color: #FFFFFF;
}
.div-appr-wd {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.btn-head-app {
  border: none;
  background: transparent;
  padding-top: 10px;
  font-weight: 600;
  font-size: 18px;
}
.div-app h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.head-app-2 {
  padding: 30px 100px;
}
.img-app {
  width: 172px;
  height: 172px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.div-img {
  display: flex;
  justify-content: space-between;
}
.param-app{
  font-weight: 600;
  padding: 10px 0;
}

.img-app2 {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
  width: 100%;
  height: auto;
}
.div-img {
  display: flex;
  justify-content: space-between;
  /* background-color: gold; */
}
.div-flex {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.div-app-cours {
  background-color: #fff;
  width: 23%;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.div-cont-app{
  padding: 15px;
}

.div-lec-home {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.div-hom-lecon {
  width: 30%;
  display: flex;
  background-color: #fff;
  gap: 30px;
  border: 1px solid #ccc;
}
.div-icn-lec {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 20px;
  background-color: #f5f5f5;
  padding: 16px;
  height: 13px;
  margin-top: 8px;
}
.h2-app-lec{
  margin: 0;
  font-weight: 600;
}
.feather-book {
  height: 20px;
  width: 20px;
  color: #ac9932;
}
.img-app-3 {
  width: 172px;
  height: 172px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
}

.div-im-cont {
  width: 32%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  padding: 0;
}
.div-counts-im,
.div-counts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-counts {
  padding: 15px;
}
.img-cont {
  width: 100%;
  width: auto;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.h2-app-lec {
  margin: 0;
  font-weight: 600;
}
.btn-head-app-2 {
  border: none;
  background: transparent;
  padding-top: 10px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 10px;
}
.param {
  text-align: justify;
}
.division-app{
  margin-bottom: 80px;
}

/* mescoursapprenant */
.head-app-21 {
  padding: 30px;
  margin-top: 40px;
}
.div-flex {
  display: flex;
}
.div-colonne-1 {
  width: 30%;
  height: auto;
  /* background-color: red; */
}
.div-colonne-2 {
  width: 70%;
  height: auto;
  /* background-color: aqua; */
}
.img-mes-cours {
  width: 50px;
  height: 50px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
}
.image-mescours {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}
.div-flex-im-cours {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 90%;
  padding: 10px;
}
.h2 {
  margin: 0;
}
.p {
  margin: 0;
}
.div-flex-mes-cours {
  display: flex;
  gap: 20px;
}
.div-mes-cour {
  width: 33%;
  /* background-color: gold; */
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
}
.div-cont-cour {
  padding: 10px;
}
.div-cont-cour h2{
  font-weight: 600;
}